rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Règle simple : tout le monde peut lire, seuls les utilisateurs authentifiés peuvent écrire
    match /{allPaths=**} {
      allow read: if true; // Lecture publique pour tous
      allow write: if request.auth != null; // Écriture pour utilisateurs connectés uniquement
    }
  }
}
